page-map {
    #map{
        height: 75%;
        width: 100%;
    }

    #clearMap{
        margin: auto;
        display: block;
        margin-top: 1%;
    }

    #syncid{
        margin: auto;
        display: block;
        margin-top: 1%;
    }
}



