page-addTrip {

}
#id_act_pg{
    left:10%;
    right:10%;
    top:10%;
    bottom: 10%;
    width: 80%;
    height: 80%;
    background-color: #f0f7ff;
    border-radius: 20px;
    
    overflow:hidden;
    
}

.m_pos_b{

    background-color: #f0f7ff;
}

.mod_btn{
    height: 40px;
    width: 60px;
}